.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(0deg, #ffffff, #f5e4a3);
}

.middle {
  width: 50%;
  position: relative;
  height: 100vh;
}

.image {
  object-fit: contain;
}

.backgroundLantern {
  width: 31%;
  height: 100%;
  position: absolute;
  top: -9%;

  .image {
    object-position: center -20px;
  }

  &:nth-child(1) {
    left: 5%;
  }

  &:nth-child(2) {
    right: 5%;

    .image {
      transform: scaleX(-1);
    }
  }
}

.foregroundLantern {
  width: 24%;
  height: 65%;
  position: absolute;
  top: -20px;

  .image {
    object-position: left -20px;
  }

  &:nth-child(1) {
    left: 2.5%;
  }

  &:nth-child(2) {
    right: 2.5%;

    .image {
      transform: scaleX(-1);
    }
  }
}

.loki {
  width: 20%;
  height: 20%;
  bottom: 10%;
  left: -8%;
  position: absolute;
}

.teemo {
  width: 28%;
  height: 28%;
  bottom: 10%;
  right: -12%;
  position: absolute;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
  color: #d1433a;

  .h1 {
    font-size: 195px;
    font-weight: 900;
    font-family: "LXGW WenKai TC";
  }

  .p1 {
    margin-top: 32px;
    margin-bottom: 16px;
  }

  .p1,
  .p2 {
    font-size: 38px;
  }

  .bold {
    font-size: 48px;
    font-weight: 600;
  }

  .info {
    font-size: 24px;
    text-align: center;
    margin-top: 32px;
    line-height: 32px;
    font-family: "LXGW WenKai TC";
    font-weight: 600;
  }
}

.couple {
  width: 60%;
  height: 50%;
  position: relative;
  left: -4%;
}

.doorContainer {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.door {
  width: 25%;
  height: 100vh;
  position: absolute;
  top: 0;

  &:nth-child(2) {
    left: 25%;
  }

  &:nth-child(3) {
    left: 50%;
  }

  &:nth-child(4) {
    left: 75%;
  }
}
